:root {
    --colorboto: rgb(134, 61, 195);
    --color-primari: #3498db;
    --color-secundari: #2ecc71;
    --marge-general: 20px;
    --mida-text: 16px;
}

* {}

html {
    scroll-behavior: smooth;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(154, 240, 225);
    height: 100px;
    border-bottom: solid 2px black;
}

h2 {
    font-size: 30px;
}

body {
    background-color: rgb(229, 229, 229);
    padding: 0px;
    margin: 0px;
}

nav {
    margin: 20px;
}

section {
    margin: 20px;
}

h1 {
    color: rgb(255, 145, 0);
    font-size: 50px;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.linkblau {
    color: darkblue;
}

.boto_adalt {
    font-size: medium;
    text-decoration: none;
}

.boto_adalt_recuadre {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.6;
    transition: scale 0.4s ease, opacity 0.3s ease;
}

.boto_adalt_recuadre:hover {
    opacity: 1;
    scale: 1.2;
    cursor: pointer;
}

.color_boto {
    background-color: var(--colorboto);
    transition: scale 0.4s ease;
    border-color: rgb(255, 145, 0);
    border-radius: 10px;
    border-width: 4px;
    color: rgb(255, 145, 0);
}

.tornar {
    color: rgb(255, 145, 0);
    font-size: medium;
    text-decoration: none;
}

.color_boto:hover {
    opacity: 1;
    scale: 1.06;
    cursor: pointer;
}

.index {
    color: rgb(5, 5, 70);
    font-size: 30px;
}

.div_centrat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.important {
    color: red;
    font-size: xx-large;
}

.negre {
    color: black;
}

.capsa {
    border: solid;
    border-width: 3px;
    padding: 7px;
    margin: 7px;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ex1 {
    text-align: center;
}

.ex2 {
    color: blue;
    font-size: 18px;
}

.ex3 {
    color: green;
    font-size: 16px;
}

.ex4 {
    text-align: center;
    color: darkblue;
}

.div_centrat_fila {
    display: flex;
    align-items: center;
    justify-content: center;

}

.grid6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 1px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
}

.ex5 {
    font-family: "Arial", sans-serif;
}

.ex6 {
    text-align: center;
}

.ex7 {
    font-weight: bold;
}

.ex8 {
    font-style: italic;
}

.fons-imatge {
    background-image: url("/imatges/fons.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.caixa {
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 5px solid darkblue;
    margin: 20px;
    box-sizing: border-box;
}

.desbordament {
    width: 150px;
    height: 100px;
    border: 2px solid red;
    overflow: scroll;
}

.relatiu {
    position: relative;
    top: 20px;
    left: 30px;
    background-color: lightblue;
    padding: 10px;
}

.absolut {
    /*position: absolute; Comentat perque sinos es absolute respecte al body*/
    top: 50px;
    left: 50px;
    background-color: lightgreen;
    padding: 10px;
}

.fix {
    /*position: fixed;  Comentat perque sinos es fixed a la pagina sencera*/
    top: 0;
    right: 0;
    background-color: coral;
    padding: 10px;
}

.enganx贸s {
    position: sticky;
    top: 10px;
    background-color: yellow;
    padding: 10px;
}

.contenidor {
    display: flex;
    flex-direction: row;
    /* Col路loca els elements en fila */
    justify-content: space-around;
    /* Distribueix els elements amb espai al voltant */
    align-items: center;
    /* Centra els elements verticalment */
    height: 200px;
    background-color: lightgray;
}

.element {
    background-color: lightblue;
    padding: 20px;
    margin: 5px;
}

.element-gran {
    flex-grow: 2;
    /* Aquest element ocupar el doble d'espai que els altres */
}

@media (max-width: 767px) {
    .element {
        font-size: 18px;
    }
}

.grid3x1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.grid2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div1a {
    grid-area: 1 / 1 / 2 / 2;
}

.div2a {
    grid-area: 1 / 2 / 2 / 3;
}

.div3a {
    grid-area: 2 / 1 / 3 / 2;
}

.div4a {
    grid-area: 2 / 2 / 3 / 3;
}

/*Tot aquests estils estan comentats perque sinos afectarien a tot el codi i no nomes a l'exemple de CSS avan莽at*/
/* input[type="text"] {
    border: 2px solid blue;
}

 Combinador de fills directes 
div>p {
    color: green;
}

 Pseudo-classe hover 
a:hover {
    color: red;
}

 Pseudo-element before 
h1::before {
    content: " ";
} */
@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Regular.woff2") format("woff2"),
        url("fonts/Lato-Regular.woff") format("woff");
}

.ex9 {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
}

.ex10 {
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.ex11 {
    font-weight: 300;
    font-style: italic;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* 3 columnes iguals */
    grid-gap: 10px;
    /* Espai entre les columnes */
    height: 400px;
}

.element {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.element-gran {
    grid-column: span 2;
    /* Aquest element ocupar dues columnes */
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    height: 300px;
}

.element1 {
    background-color: lightblue;
    padding: 10px;
}

.flex {
    display: flex;
    justify-content: space-around;
    /* Flexbox dins del contenidor grid */
    align-items: center;
    background-color: lightgreen;
    height: 100%;
}

/* Estils per al bot贸 activador */
.trigger {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Estils per al contingut del popover */
#popoverContent {
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

/* Estils per al fons quan el popover est obert */
::backdrop {
    backdrop-filter: blur(3px);
}

.body {
    background-color: var(--color-primari);
    color: white;
    margin: var(--marge-general);
    font-size: var(--mida-text);
}

.h2 {
    color: var(--color-secundari);
}

.button {
    padding: 10px 20px;
    background-color: white;
    color: var(--color-primari);
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-secundari);
    color: white;
}

/* Transici贸 simple */
.buttona {
    padding: 10px 20px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttona:hover {
    background-color: darkblue;
}

/* Animaci贸 clau */
@keyframes moure {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

.diva {
    width: 100px;
    height: 100px;
    background-color: coral;
    animation: moure 2s ease-in-out infinite;
}