:root {
    --colorboto: rgba(73, 166, 61, 0.6);
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

h2 {
    font-size: 30px;
}

body {
    background-color: rgb(233, 239, 167);
}

h1 {
    color: rgb(15, 136, 229);
    font-size: 50px;
}

.linkblau {
    color: darkblue;
}

.boto_adalt {
    color: black;
    font-size: medium;
    text-decoration: none;
}

.boto_adalt_recuadre {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: scale 0.4s ease;
}

.boto_adalt_recuadre:hover {
    opacity: 1;
    scale: 1.1;
    cursor: pointer;
}

.color_boto {
    background-color: var(--colorboto);
    transition: scale 0.4s ease;
}

.tornar {
    color: rgb(0, 0, 0);
    font-size: medium;
    text-decoration: none;
}

.color_boto:hover {
    opacity: 1;
    scale: 1.06;
    cursor: pointer;
}

.index {
    color: rgb(5, 5, 70);
    font-size: 30px;
}

.div_centrat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.important {
    color: red;
    font-size: xx-large;
}

.negre {
    color: black;
}

.capsa {
    border: solid;
    border-width: 3px;
    padding: 7px;
    margin: 7px;
}

.ex1 {
    text-align: center;
}

.ex2 {
    color: blue;
    font-size: 18px;
}

.ex3 {
    color: green;
    font-size: 16px;
}

.ex4 {
    text-align: center;
    color: darkblue;
}

.div_centrat_fila {
    display: flex;
    align-items: center;
    justify-content: center;

}